<link rel="stylesheet" href="~/css/LobbyCSS/Lobby.css"/>
<section class="commentSection">
    <ul>

    </ul>
    <article>
        <textarea></textarea>   <button>Send</button>
    </article>
</section>

<script src="~/microsoft/signalR/dist/browser/signalr.js"></script>
<script src="~/js/LobbyJs/LobbyJs.js"></script>