


<link rel="stylesheet" href="~/css/Game/Game.css" />
<section class="gameSection">
    <article>
        <section>
            <button id="StartGame" disabled>Start Game</button>
        </section>
        <table class="gameTable">
            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    @for (int j = 0; j < 3; j++)
                    {
                        <td><button  disabled></button></td>
                    }
                </tr>
            }
        </table>
    </article>

    <article class="chatArticle">
        <div>
            <ul id="chatUl">
            </ul>
        </div>
    </article>
</section>

<script src="~/microsoft/signalR/dist/browser/signalr.js"></script>
<script src="~/js/Game/Game.js"></script>